html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0px;
  margin: 0;
  color: #3e3e3e;
  font-weight: 300;
  line-height: 1.6;
  font-size: 105%;
  padding-top: 64px;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

input {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
}

input[type="search"] {
  height: 2.25rem;
  padding: 0.5rem;
  vertical-align: middle;
  -webkit-appearance: none;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfhBBgPHSpealnAAAABPklEQVQoz3WRP0tCYRSHn/cqYpOEEg2VpaMUXJSGylfNqLbwK9jeZ2iQhqA225raWvpDg0jdoiAibLAhcPHmLEFLatzbfRvuLS3wWX/P+R04RwBAdkJtqRQ6bVUTldsjFB4CQBbZJ0SfK/+m0foVZJFD4IsqdRFxciIOmMHZ6odXLt+lks30vDuRCGR2pJJKlr22zK5U0v6JXeSxVNLJhwE0lQKqd4+DgioBwkoCaOhAnT/4XrAB3RXaICL/hBB+EF13RQ2cXCIwKFhrAE4DQBMVEPHIdj9eGGMPMDsGgK/1HF0iRjqamGrE3uKjkwXthHGg/HDpHWo5al8zA4CN/7eopxVuKqCB0dLmOECBF5uU6BF0TrPr3i8A8mEriS66TqNjPFlylTOCfKoNwRCyK845I5i+YcJrc/qeRS6+ARb8ZAjoY9ozAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE3LTA0LTI0VDE1OjI5OjQyKzAyOjAwa0CnGwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNy0wNC0yNFQxNToyOTo0MiswMjowMBodH6cAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC") no-repeat right 10px center;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul {
  margin-top: 0px;
  margin-bottom: 2rem;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 210%;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-wrap: break-word;
}

.list-reset {
  list-style: none;
  padding-left: 0px;
  padding-left: 0;
}

.block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

.m0 {
  margin: 0px;
  margin: 0;
}

.ml1 {
  margin-left: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mr2 {
  margin-right: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p0 {
  padding: 0px;
  padding: 0;
}

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0px;
  top: 0;
}

.right-0 {
  right: 0px;
  right: 0;
}

.bottom-0 {
  bottom: 0px;
  bottom: 0;
}

.left-0 {
  left: 0px;
  left: 0;
}

.z1 {
  z-index: 1;
}

.z3 {
  z-index: 3;
}

.hide {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.col {
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

@media (min-width: 40em) {
  .sm-col {
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .sm-col-6 {
    width: 50%;
  }
}

@media (min-width: 64em) {
  .lg-col-12 {
    width: 100%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-auto {
  -webkit-box-flex: 1;
  min-width: 0px;
  min-height: 0px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flex-none {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.121569);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0.125);
}

.border-none {
  border: 0px;
  border: 0;
  border: none;
}

.bg-white {
  background-color: rgb(255, 255, 255);
  background-color: #fff;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: 50% 50%;
  background-position: center;
}

@media (min-width: 40em) {
  .sm-py3 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .sm-px3 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 52em) {
  .md-py3 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .md-px3 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .md-py4 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .md-px4 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 64em) {
  .lg-px4 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 52em) {
  .h0-responsive {
    font-size: 6vw;
  }
}

@media (min-width: 96em) {
  .h0-responsive {
    font-size: 5.76rem;
  }
}

.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

input[type="search"] {
  padding: 0px 1rem;
  height: 45px;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
  -webkit-transition: border-color 0.2s ease;
  width: 100%;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(223, 223, 223);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfhBBgPHSpealnAAAABPklEQVQoz3WRP0tCYRSHn/cqYpOEEg2VpaMUXJSGylfNqLbwK9jeZ2iQhqA225raWvpDg0jdoiAibLAhcPHmLEFLatzbfRvuLS3wWX/P+R04RwBAdkJtqRQ6bVUTldsjFB4CQBbZJ0SfK/+m0foVZJFD4IsqdRFxciIOmMHZ6odXLt+lks30vDuRCGR2pJJKlr22zK5U0v6JXeSxVNLJhwE0lQKqd4+DgioBwkoCaOhAnT/4XrAB3RXaICL/hBB+EF13RQ2cXCIwKFhrAE4DQBMVEPHIdj9eGGMPMDsGgK/1HF0iRjqamGrE3uKjkwXthHGg/HDpHWo5al8zA4CN/7eopxVuKqCB0dLmOECBF5uU6BF0TrPr3i8A8mEriS66TqNjPFlylTOCfKoNwRCyK845I5i+YcJrc/qeRS6+ARb8ZAjoY9ozAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE3LTA0LTI0VDE1OjI5OjQyKzAyOjAwa0CnGwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNy0wNC0yNFQxNToyOTo0MiswMjowMBodH6cAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC") no-repeat right 10px center;
}

input[type="search"] {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfhBBgPHSpealnAAAABPklEQVQoz3WRP0tCYRSHn/cqYpOEEg2VpaMUXJSGylfNqLbwK9jeZ2iQhqA225raWvpDg0jdoiAibLAhcPHmLEFLatzbfRvuLS3wWX/P+R04RwBAdkJtqRQ6bVUTldsjFB4CQBbZJ0SfK/+m0foVZJFD4IsqdRFxciIOmMHZ6odXLt+lks30vDuRCGR2pJJKlr22zK5U0v6JXeSxVNLJhwE0lQKqd4+DgioBwkoCaOhAnT/4XrAB3RXaICL/hBB+EF13RQ2cXCIwKFhrAE4DQBMVEPHIdj9eGGMPMDsGgK/1HF0iRjqamGrE3uKjkwXthHGg/HDpHWo5al8zA4CN/7eopxVuKqCB0dLmOECBF5uU6BF0TrPr3i8A8mEriS66TqNjPFlylTOCfKoNwRCyK845I5i+YcJrc/qeRS6+ARb8ZAjoY9ozAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE3LTA0LTI0VDE1OjI5OjQyKzAyOjAwa0CnGwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNy0wNC0yNFQxNToyOTo0MiswMjowMBodH6cAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC);
  background-color: rgb(255, 255, 255);
  background-position: right 10px top 50%;
  background-repeat: no-repeat no-repeat;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfhBBgPHSpealnAAAABPklEQVQoz3WRP0tCYRSHn/cqYpOEEg2VpaMUXJSGylfNqLbwK9jeZ2iQhqA225raWvpDg0jdoiAibLAhcPHmLEFLatzbfRvuLS3wWX/P+R04RwBAdkJtqRQ6bVUTldsjFB4CQBbZJ0SfK/+m0foVZJFD4IsqdRFxciIOmMHZ6odXLt+lks30vDuRCGR2pJJKlr22zK5U0v6JXeSxVNLJhwE0lQKqd4+DgioBwkoCaOhAnT/4XrAB3RXaICL/hBB+EF13RQ2cXCIwKFhrAE4DQBMVEPHIdj9eGGMPMDsGgK/1HF0iRjqamGrE3uKjkwXthHGg/HDpHWo5al8zA4CN/7eopxVuKqCB0dLmOECBF5uU6BF0TrPr3i8A8mEriS66TqNjPFlylTOCfKoNwRCyK845I5i+YcJrc/qeRS6+ARb8ZAjoY9ozAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE3LTA0LTI0VDE1OjI5OjQyKzAyOjAwa0CnGwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNy0wNC0yNFQxNToyOTo0MiswMjowMBodH6cAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC") no-repeat right 10px center;
}

.menu__wrap {
  top: 75px;
  overflow-x: hidden;
}

.menu__level {
  visibility: hidden;
  overflow-y: auto;
  width: calc(100% + 50px);
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.menu__level--current {
  visibility: visible;
}

.menu__item {
  width: calc(100% - 50px);
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgb(244, 243, 243);
  border-top: 2px solid #f4f3f3;
}

.menu__item:last-child {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(244, 243, 243);
  border-bottom: 2px solid #f4f3f3;
}

.menu__link {
  text-transform: none;
  height: 80px;
  min-height: 8.33333vh;
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.menu__link::before {
  height: 100%;
  left: -0.5rem;
  transition: left 0.1s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.1s ease;
  -webkit-transition: left 0.1s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.1s ease;
  width: 0.5rem;
  position: absolute;
  content: '';
  top: 0px;
  opacity: 0;
}

.menu__link span {
  -ms-flex: 1;
  display: -ms-flexbox;
}

.menu__breadcrumbs {
  height: 75px;
  font-size: 12px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.menu__breadcrumbs a:last-child {
  pointer-events: none;
  color: rgb(62, 62, 62);
  padding-right: 2rem;
  color: #3e3e3e;
}

.menu__breadcrumbs a:first-child:last-child {
  color: rgb(255, 255, 255);
  color: #fff;
}

.menu__breadcrumbs a:hover {
  color: rgb(58, 58, 58);
  color: #3a3a3a;
}

.menu__breadcrumbs a:not(:last-child)::after {
  content: →;
  display: inline-block;
  padding: 0px 0.5em;
  color: rgb(51, 53, 62);
  content: '→';
  padding: 0 0.5em;
  color: #33353e;
}

.menu__breadcrumbs a:not(:last-child):hover::after {
  color: rgb(62, 62, 62);
  color: #3e3e3e;
}

.action-close {
  height: 75px;
  width: 20px;
  background-color: transparent;
}

@media screen and (max-width: 1199px) {
  .nav-container {
    z-index: 1000;
    top: 0px;
    width: 100%;
    height: 100vh;
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transition: -webkit-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    top: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

.site-content,
.main-header,
.nav-container {
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  backface-visibility: hidden;
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-container {
  top: 0px;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
}

.site-logo {
  right: 25px;
  padding: 0px;
  position: absolute;
  top: 0px;
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 0;
  top: 0;
  display: flex;
  align-items: center;
  display: -ms-flexbox;
  -ms-flex-align: center;
}

#main_nav_toggle {
  margin: 0px 20px;
  width: 40px;
  margin: 0 20px;
}

.main-header {
  height: 64px;
  z-index: 9;
  -webkit-box-shadow: rgba(33, 33, 33, 0.247059) 0px 0px 10px;
  box-shadow: rgba(33, 33, 33, 0.247059) 0px 0px 10px;
  -webkit-box-shadow: 0 0 10px rgba(33,33,33,0.25);
  box-shadow: 0 0 10px rgba(33,33,33,0.25);
}

@media (min-width: 52em) {
  .main-header {
    height: 86px;
  }
}

@media (min-width: 1200px) {
  .action-close {
    display: none;
  }

  .menu__wrap {
    top: 0px;
    height: calc(100% - 225px);
    top: 0;
    border-right: 2px solid #f4f3f3;
  }

  .menu__breadcrumbs {
    top: 0px;
    z-index: 100;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(244, 243, 243);
    top: 0;
    border-right: 2px solid #f4f3f3;
  }

  .site-content {
    padding: 0px 0px 0px 230px;
    padding: 0 0 0 230px;
  }

  .nav-container {
    top: auto;
    bottom: auto;
    margin-top: 200px;
    position: fixed;
    z-index: 9;
    width: 90%;
    max-width: 230px;
    overflow-y: visible;
  }

  .nav-container.multi_level {
    margin-top: 225px;
  }

  .nav-container.multi_level .menu__breadcrumbs {
    top: -75px;
  }

  .main-header {
    height: auto;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(244, 243, 243);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: 2px solid #f4f3f3;
  }

  .site-sidebar {
    width: 230px;
  }

  .site-logo {
    float: none;
    margin: 0px auto;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 200px;
    position: static;
    margin: 0 auto;
  }

  .menu__wrap {
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(244, 243, 243);
    top: 0;
    height: calc(100% - 225px);
    border-right: 2px solid #f4f3f3;
  }

  #main_nav_toggle {
    display: none;
  }
}

@media (min-width: 1650px) {
  .menu__wrap {
    height: calc(100% - 275px);
  }

  .site-sidebar {
    width: 320px;
    max-width: 320px;
  }

  .site-content {
    padding: 0px 0px 0px 320px;
    padding: 0 0 0 320px;
  }

  .nav-container {
    margin-top: 255px;
  }

  .site-logo {
    height: 255px;
  }

  .nav-container.multi_level {
    margin-top: 275px;
  }
}

.lazyload,
.lazyloading {
  opacity: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.accessibility {
  height: 1px;
  width: 1px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  clip: rect(0px 0px 0px 0px);
  position: absolute !important;
  padding: 0;
  margin: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  color: rgb(62, 62, 62);
  font-weight: 300;
  line-height: 1.6;
  font-size: 105%;
  margin: 0;
  color: #3e3e3e;
  padding-top: 64px;
}

.system-font {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.entry-title {
  font-weight: 100;
}

p,
.normal-weight {
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

a {
  text-decoration: none;
  transition: border-color 0.2s ease, color 0.2s ease;
  -webkit-transition: border-color 0.2s ease, color 0.2s ease;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
}

h1,
h2 {
  font-weight: 100;
}

.small-p {
  font-size: 16px;
}

.ultra-small {
  font-size: 13px;
}

.animated {
  transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
}

.fa {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0px;
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 0;
}

.fa-home {
  width: 0.9285714285714285em;
}

input.search-field {
  padding-right: 40px;
}

.widget .sub-menu .sub-menu .sub-menu {
  display: none;
}

.widget_recent_entries {
  font-size: 18px;
}

.dark-bg {
  background-color: rgb(30, 30, 30);
  background-color: #1E1E1E;
}

.white-color {
  color: rgb(255, 255, 255);
  color: #fff;
}

.upper {
  text-transform: uppercase;
}

.line-height1 {
  line-height: 1;
}

.opacity-zero {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.border-none {
  border: none;
  border: 0;
}

.outline-0 {
  outline: 0px;
  outline: 0;
}

.pointer {
  cursor: pointer;
}

.text-color {
  color: rgb(62, 62, 62);
  color: #3e3e3e;
}

body {
  margin: 0;
  color: #3e3e3e;
  font-weight: 300;
  line-height: 1.6;
  font-size: 105%;
  padding-top: 64px;
}

body {
  padding-top: 64px;
  margin: 0;
  color: #3e3e3e;
  font-weight: 300;
  line-height: 1.6;
  font-size: 105%;
}

.site-content {
  min-height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.site-footer ul ul ul {
  display: none;
}

h1.entry-title {
  padding-top: 13vh;
  padding-bottom: 15vh;
}

.perf_breadcrumbs {
  display: none;
}

.perf-main-hero {
  z-index: -3;
  opacity: 0.8;
}

.perf-main-hero #perf-main-hero {
  z-index: 1;
}

@media (min-width: 52em) {
  body {
    padding-top: 86px;
  }

  .perf_breadcrumbs {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    max-width: 80%;
    display: block;
  }

  .perf_breadcrumbs .home_icon svg {
    margin-bottom: -2px;
  }

  h1.entry-title {
    padding-top: 12.66666666vh;
    padding-bottom: 14.66666666vh;
  }
}

@media (min-width: 64em) {
  body {
    font-size: 110%;
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: 0px;
    font-size: 115%;
    padding-top: 0;
  }
}

@media (min-width: 1650px) {
  body {
    font-size: 130%;
  }
}

@media print {
  body {
    color: rgb(0, 0, 0) !important;
    padding: 0px !important;
    color: #000 !important;
    padding: 0 !important;
  }

  body * {
    color: rgb(0, 0, 0) !important;
    display: block !important;
    color: #000 !important;
  }

  h1.entry-title {
    padding: 0px 0px 2rem !important;
    padding: 0 0 2rem 0 !important;
  }

  .perf-main-hero {
    background-color: rgb(255, 255, 255);
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    min-height: 1px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #fff;
  }

  .hide-print {
    display: none !important;
  }

  #main {
    width: 100%;
    margin: 0px;
    float: none;
    margin: 0;
  }
}