Console output: JQMIGRATE: Migrate is installed,
version 1.4.1body {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.04em;
  padding-top: 80px;
  line-height: 1.875;
}

.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.lazyloaded {
  opacity: 1;
  transition: opacity 350ms;
  -webkit-transition: opacity 350ms;
}

iframe {
  max-width: 100% !important;
}

iframe {
  max-width: 100%;
}

.site-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  min-height: 80px;
  padding: 10px 40px;
  z-index: 998;
  -webkit-box-shadow: rgba(33, 33, 33, 0.247059) 0px 0px 10px;
  box-shadow: rgba(33, 33, 33, 0.247059) 0px 0px 10px;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 0 0 10px rgba(33,33,33,0.25);
  box-shadow: 0 0 10px rgba(33,33,33,0.25);
}

#site-navigation {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: swing;
  transition-timing-function: swing;
}

#main_nav_toggle .menu-close {
  display: none;
}

#main_nav_toggle svg {
  width: 35px;
}

.sub-menu li:last-child {
  margin-bottom: 0px;
  margin-bottom: 0;
}

.main-navigation li::before {
  display: none;
}

.sub-menu-toggle {
  width: 20px;
  height: 20px;
  transition: -webkit-transform 0.2s linear;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.sub-menu-toggle svg {
  pointer-events: none;
  max-width: 20px;
  max-height: 20px;
}

.sub-menu {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: swing;
  transition-timing-function: swing;
}

@media (min-width: 64em) {
  .site-header {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #site-navigation {
    max-height: 100px;
    transition: 0s;
    -webkit-transition: 0s;
    overflow: visible !important;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }

  .main-navigation .sub-menu {
    max-height: 700px;
    overflow: visible;
    position: absolute;
    top: 94%;
    left: 0px;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 200px;
    padding: 12px 0px;
    margin: 2px 0px 0px;
    font-size: 15px;
    text-align: left;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 222, 224);
    background-clip: padding-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgba(37, 45, 51, 0.247059) 0px 10px 40px -5px;
    box-shadow: rgba(37, 45, 51, 0.247059) 0px 10px 40px -5px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translateX(0px) translateY(20px);
    left: 0;
    padding: 12px 0;
    margin: 2px 0 0;
    background-color: #fff;
    border: 1px solid #dcdee0;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 40px -5px rgba(37,45,51,0.25);
    box-shadow: 0 10px 40px -5px rgba(37,45,51,0.25);
    transform: translateX(0px) translateY(20px);
  }

  .main-navigation .sub-menu li {
    display: block;
  }

  .main-navigation .sub-menu a {
    display: block;
    padding: 4px 24px;
    clear: both;
    color: rgb(97, 99, 102);
    font-weight: 300;
    line-height: 25px;
    white-space: nowrap;
    color: #616366;
  }

  .main-navigation .sub-menu::after,
  .main-navigation .sub-menu::before {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: ' ';
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
  }

  .main-navigation .sub-menu::after {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(255, 255, 255);
    border-width: 10px;
    margin-left: -10px;
  }

  .main-navigation .sub-menu::before {
    border-color: rgba(220, 222, 224, 0) rgba(220, 222, 224, 0) rgb(220, 222, 224);
    border-width: 11px;
    margin-left: -11px;
  }
}

input {
  background-color: rgb(232, 236, 241);
  border: 1px solid rgb(238, 238, 238);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  padding: 12px 15px;
  width: 100%;
  transition: border-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease;
}

input[type="submit"] {
  padding-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase;
}

.sm-text {
  font-size: 16px;
}

.xl-text {
  font-size: 120%;
}

.weight1 {
  font-weight: 100;
}

.weight700 {
  font-weight: 700;
}

.h00 {
  font-size: 4rem;
}

h1 {
  font-size: 2.3rem;
}

p {
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.001em;
  letter-spacing: -.001em;
}

button {
  outline: none;
}

.btn,
.edd-submit,
.button {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  color: rgb(16, 120, 255);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  color: #1078ff;
}

ul li {
  margin-bottom: 12px;
  position: relative;
  list-style-type: none;
  line-height: 1.5;
}

ul li::before {
  content: '• ';
  color: rgb(16, 120, 255);
  font-size: 20px;
  display: block;
  position: absolute;
  left: -2rem;
  top: 4px;
  line-height: 1;
  font-weight: 700;
}

ul ul {
  margin: 0.5rem 0px;
}

@media (min-width: 64em) {
  h1 {
    font-size: 3.5rem;
  }
}

.nc-icon {
  display: inline-block;
  fill: currentColor;
}

.nc-icon use {
  fill: inherit;
  stroke: none;
}

.nc-icon.nc-icon-outline use {
  stroke: inherit;
  fill: none;
}

.nc-icon.nc-icon-grid-48 {
  height: 48px;
  width: 48px;
}

.nc-icon {
  fill: currentColor;
  stroke: none;
  display: inline-block;
}

.nc-icon.nc-icon-outline {
  fill: none;
  stroke: currentColor;
}

.nc-icon use {
  stroke: none;
  fill: inherit;
}

.nc-icon.nc-icon-outline use {
  fill: none;
  stroke: inherit;
}

.nc-icon.nc-icon-outline.stroke-2 {
  stroke-width: 2px;
}

.header-menu {
  min-height: 60px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.system-font,
h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  margin: 0px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 400;
  color: rgba(0,0,0,0.8);
  letter-spacing: 0.04em;
  padding-top: 80px;
  line-height: 1.875;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  max-height: 100%;
  height: auto;
}

h1 {
  line-height: 1.25;
  margin-top: 1.2em;
  margin-bottom: 1em;
  letter-spacing: -0.01em;
  font-size: 2.3rem;
}

p,
ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-width: 0px 0px 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 204, 204);
  border: 0;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
}

.btn,
.edd-submit,
.button {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: 0.6rem 1.3rem;
  margin: 0px;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
  font-weight: 200;
  letter-spacing: normal;
}

.btn-big,
.edd-submit,
.button {
  padding: 15px 30px;
  letter-spacing: 0.04em;
}

.btn-primary,
.edd-submit,
.button {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(16, 120, 255);
  border: none;
  color: rgb(255, 255, 255);
  -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 10px 20px;
}

.text-decoration-none {
  text-decoration: none;
}

.center {
  text-align: center;
}

.line-height-1 {
  line-height: 1;
}

.line-height-2 {
  line-height: 1.125;
}

.line-height-3 {
  line-height: 1.25;
}

.list-reset {
  list-style: none;
  padding-left: 0px;
  padding-left: 0;
}

.block {
  display: block;
}

.overflow-scroll {
  overflow: scroll;
}

.max-width-3 {
  max-width: 48rem;
}

.max-width-5 {
  max-width: 75rem;
}

.align-top {
  vertical-align: top;
}

.mt0 {
  margin-top: 0px;
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0px;
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 0.5rem;
  margin-bottom: .5rem;
}

.mt2 {
  margin-top: 1.5rem;
}

.mb2 {
  margin-bottom: 1.5rem;
}

.ml2 {
  margin-left: 1.5rem;
}

.mt3 {
  margin-top: 3rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mt4 {
  margin-top: 6rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.p0 {
  padding: 0px;
  padding: 0;
}

.px0 {
  padding-left: 0px;
  padding-right: 0px;
  padding-left: 0;
  padding-right: 0;
}

.py0 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-top: 0;
  padding-bottom: 0;
}

.py1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 64em) {
  .lg-col-2 {
    width: 16.66667%;
  }

  .lg-col-3 {
    width: 25%;
  }

  .lg-col-4 {
    width: 33.33333%;
  }

  .lg-col-9 {
    width: 75%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 64em) {
  .lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-auto {
  -webkit-box-flex: 1;
  min-width: 0px;
  min-height: 0px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.order-last {
  -webkit-box-ordinal-group: 100000;
  -ms-flex-order: 99999;
  order: 99999;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0px;
  top: 0;
}

.right-0 {
  right: 0px;
  right: 0;
}

.z4 {
  z-index: 4;
}

.border-none {
  border: 0px;
  border: 0;
}

@media (min-width: 64em) {
  .lg-hide {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .lg-mt0 {
    margin-top: 0px;
    margin-top: 0;
  }

  .lg-mb0 {
    margin-bottom: 0px;
    margin-bottom: 0;
  }

  .lg-ml0 {
    margin-left: 0px;
    margin-left: 0;
  }
}

@media (min-width: 64em) {
  .lg-px1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .lg-py2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .lg-pr4 {
    padding-right: 6rem;
  }
}

@media (min-width: 64em) {
  .lg-block {
    display: block;
  }

  .lg-inline-block {
    display: inline-block;
  }

  .lg-right {
    float: right;
  }
}

.black {
  color: rgba(0, 0, 0, 0.8);
  color: rgba(0,0,0,0.8);
}

.muted {
  opacity: 0.5;
  opacity: .5;
}

.bg-white {
  background-color: rgb(255, 255, 255);
  background-color: #FFFFFF;
}

@media (min-width: 40em) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 64em) {
  .lg-pr4 {
    padding-right: 6rem;
  }

  body {
    font-size: 21px;
  }
}