.entry-meta a{
    border: none;
    color: $black;
}

.pagination li{ margin-right: 5px; }
.pagination li:before{ display: none; }

.entry-header::after,
.page-header::after,
.separator::after {
    border-bottom: 1px solid #000;
    content: "";
    display: block;
    margin-bottom: 40px;
    padding-bottom: 40px;
    width: 40px;
    margin: 0 auto;
}

.left-separator::after,
.left-separator::after,
.left-separator::after {
    margin: 0;
}

.page-template-homepage .entry-header::after {
    margin: 0;
}

.entry-avatar .avatar {
    background-color: #fff;
    margin-top: -65px;
    padding: 5px;
    border-radius: 50%;
}

.header-menu{ min-height: 60px;}


.hero .lazyload,
.hero .lazyloading {
    opacity: 0;
}
.hero .lazyloaded {
    opacity: 0.2;
    transition: opacity 1s;
}

.bg-default{
    opacity: 0.2;
}

.grayscale{ filter: grayscale(1); }

.page-title{ margin-top: 0; }
