.edd_downloads_list{
    @extend .mxn2;
}

.edd_downloads_list .edd_download_excerpt p{
    margin: 1rem 0;
    font-size: 1em;
    font-family: inherit;
}

.edd_price_options{ font-size: 1em; }
.edd_price_options ul{ 
    list-style-type: none;
    padding-left: 0;
    line-height: 1.2;
    margin-bottom: 1.7rem;
}
.edd_price_options input{
    width: 15px;
    height: 15px;
}
.edd_price_options p{ 
    margin: 0 0 1rem 0;
    font-size: 90%;
    font-style: italic;
}
.edd_price_options label{
    display: flex;
    align-items: center;
}

@media #{$breakpoint-sm} {
    .edd_downloads_list{ 
        display: flex;
        flex-wrap: wrap;
    }
}

#edd-main-thumb .gallery{ margin: 0;}
#edd-main-thumb .gallery-caption{ display: none; }

#edd-gallery{ 
    margin-top: 1rem;

    .gallery-columns-2 .gallery-item {
        max-width: 50%;
    }

    .gallery-columns-3 .gallery-item {
        max-width: 33.33%;
    }

    .gallery-columns-4 .gallery-item {
        max-width: 25%;
    }

    .gallery-columns-5 .gallery-item {
        max-width: 20%;
    }

    .gallery-columns-6 .gallery-item {
        max-width: 16.66%;
    }

    .gallery-columns-7 .gallery-item {
        max-width: 14.28%;
    }

    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
    }

    .gallery-columns-9 .gallery-item {
        max-width: 11.11%;
    }
}
.gallery-item{ transition: opacity 0.2s ease; }
.gallery-item:hover{ opacity: 0.8; }
#edd-gallery .gallery-item{ margin-bottom: 1rem; }
#edd-gallery .gallery{ margin: 0; }

.edd-price del{ opacity: 0.5; }

.edd-cart{
    list-style-type: none;
    padding-left: 0;
}

.tab-pane h2{
    @extend .h4;
}

#edd_checkout_form_wrap input[type=text], #edd_checkout_form_wrap input[type=email], #edd_checkout_form_wrap input[type=password], #edd_checkout_form_wrap input[type=tel], #edd_checkout_form_wrap textarea{
    padding: 12px 15px;
}

#edd-purchase-button{
    @extend .btn-primary;
    @extend .lg-text;
}

.max-width-3 #edd-purchase-button{
    width: 100%;
}

.edd-label{margin-bottom: 0; }
.edd-description{
    font-size: 90%;
    display: block;
    margin-bottom: 5px;
    font-style: italic;
}

#edd_profile_personal_fieldset, 
#edd_profile_address_fieldset, 
#edd_profile_password_fieldset, 
#edd_discount_code, 
#edd_checkout_user_info, 
#edd_register_account_fields, 
#edd_login_fields, 
#eddc_profile_paypal_fieldset, 
#edd_purchase_form #edd_cc_address, 
#edd_cc_fields, 
#edd_terms_agreement, 
#edd_simple_shipping_fields, 
#edd_simple_shipping_diff_address, 
#edd-stripe-manage-cards>fieldset, 
#edd_payment_mode_select{
    padding: 0;
    background: #fff;
    border: none;
    margin-bottom: 1.5rem;
}

#edd_checkout_wrap fieldset{ margin: 1.5rem 0; }

.edd-cart-added-alert svg.edd-icon{
    width: 16px;
    height: 16px;
}

#edd_final_total_wrap,
#edd_sl_renewal_fields{
    margin-top: 0;
    border: 1px solid #eee;
    padding: 0.5em 1.387em;
    background: #fafafa;
}

// Fix small css bug when ajax enabled
//.edd_go_to_checkout{ display: inline-flex !important; }
.edd-cart-ajax-alert{
    //display: block;
    @extend .sm-text;
    padding-top: 5px;
}

.edd-table td,
.edd_sl_table td{ @extend .sm-text; }
/*
* Purchase Confirmation
*/
.edd-table,
.edd_sl_table { 
    margin-bottom: 2rem;
    border-color: #eee;
}

.edd-table th,
.edd_sl_table th{
    font-weight: bold;
    background-color: #fafafa;
}

.edd-table ul,
.edd_sl_table ul{ margin: 0; }

/*
* EDD sl license
*/
.edd_sl_license_key{ padding: 0 1rem !important; }

#edd_sl_license_add_site_form .edd-input{ margin-bottom: 1rem; }

.edd-sl-active {
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #2ecc71;
}

.edd_sl_item_name{ font-weight: bold; }

/*
* EDD Cart Widget
*/
.edd-cart,
.edd-cart-number-of-items{ 
    padding-left: 0;
    margin: 1rem 0;
}

/*
* Credit Card fieldset
*/
#edd_cc_fields{
    background: #fafafa;
    border: 1px solid #eee;
}

.edd-select-small{ 
    display: inline-block;
    width: auto;
    padding-right: 2rem;
}

#edd-email-wrap{
    margin-top: 0;
}

.edd_form > div{ margin-bottom: 2rem;}
.edd-gateway-option{ margin-right: 2rem; }

.edd-payment-icons{
    display: flex;
    margin: 2rem 0;
}

/*
* Checkout cart styling
*/
.edd_cart_footer_row th{
    border: none;
    text-align: right;
}

.edd_cart_actions{ text-align: right; }
.edd_cart_remove_item_btn{ color: red; }

.edd_cart_item_name{
    display: flex;
    align-items: center;
}

.edd_cart_item_image{ margin-right: 1rem; }

// Add spaceing after checkout cart
#edd_checkout_cart_form{ margin-bottom: 2rem; }

/*
* EDD notice
*/
.edd_error{
    //@extend .alert;
    //@extend .alert_danger;
}

.edd_sucess{
    //@extend .alert;
    //@extend .alert_success;
}

/*
* Renewing a license key? box
*/
#edd_sl_show_renewal_form_wrap{
    margin-top: 0;
}

#tab-changelog li{ margin: 0; }
#tab-changelog ul{ margin: 1rem 0; }

/*
* EDD Pagination
*/
.page-numbers{
    @extend .btn;
    @extend .btn-small;
}

.page-numbers.current{
    @extend .btn-primary;
}

#edd_download_pagination{ margin: 0 1.5rem; }
/*
* EDD Style
*/
/*
.edd-label{ font-weight: 600; }

.edd-submit,
.edd_sl_form .button,
.button{
    @extend .btn;
    @extend .btn-big;
    @extend .btn-primary;
}

.edd-description {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.edd-alert{ margin: 2rem 0; }
.edd_success,
.mc4wp-success,
.entry-content form.envato-for-edd-form .notice{
    @extend .alert;
    @extend .alert_success;
    margin: 1rem 0;

    p{margin: 0;}
}

.edd_error,
.mc4wp-notice,
.entry-content form.envato-for-edd-form .error{
    @extend .alert;
    @extend .alert_danger;
    margin: 1rem 0;

    p{margin: 0;}
 }

.edd-checkout legend{
    display: none;
}

.edd_form legend{ font-weight: bold; }

.edd-checkout fieldset{
    border: none;
    padding: 0;
}

.edd_sl_form input{ margin-bottom: 10px; }

#edd_mailchimp p,
.edd-login-remember label{ 
    display: flex; 
    align-items: center;
    margin: 0;
}

#edd_mailchimp_signup,
.edd-login-remember #rememberme{ width: 15px; height: 15px; margin-right: 10px;}

.edd_cart_header_row th{ 
    background-color: #f7f7f7;
}

.edd_cart_item_name,
.edd_cart_item_price{ 
    text-align: left;
}

.edd_cart_actions,
.edd_cart_total,
.edd_cart_actions{ 
    text-align: right;
}

.edd_cart_remove_item_btn{ 
    color: red;
    font-weight: 300;
}

.edd_form p{ margin: 1.5rem 0; }
#edd-license-key-container-wrap{ margin: 0; }

#edd_sl_renewal_form{
    fieldset{ border: none; }
    margin-bottom: 30px; 
    #edd_sl_show_renewal_form_wrap,
    .edd-sl-renewal-actions{ margin-top: 0;}
    .edd-submit{ margin-bottom: 1rem; }
}

#edd_purchase_submit{
    .edd-submit{ margin: 1rem 0; }
}

#edd-cancel-license-renewal{ font-size: 16px; }
*/




/*
.edd_form fieldset{
    border: none !important;
    padding: 0;
    margin-bottom: 1rem;
}

.single-download main table,
.single-download main table td{
    border: none;
}

#edd_final_total_wrap{
    padding: 0.5em 1.387em;
    background: #fafafa;
    margin: 1rem 0;
}

.checkout_login_form{
    padding: 0.5em 1.387em;
    background: #fafafa;
}

.checkout_login_form fieldset{
    font-size: 90%;
}

.checkout_login_form p{
    margin: 1rem 0;
}

.checkout_login_form  #edd_login_submit{ background-color: rgba(0,0,0,0.8); }
.checkout_login_form  #edd_login_submit:hover{ background-color: rgba(0,0,0,0.5); }

.edd-checkout .footer-hero,
.edd-checkout #menu-menu-footer{ display: none; }
*/