.entry-content-full .edd_downloads_list{
    //margin-left: -$space2; 
    //margin-right: -$space2;
    width: auto;
}

.edd_downloads_list .edd_download_excerpt p{
    margin: 1rem 0;
    font-size: 1em;
    font-family: inherit;
}

.edd_price_options{ font-size: 90%; }
.edd_price_options ul{ 
    list-style-type: none;
    padding-left: 0;
    line-height: 1.2;
    margin: 0 0 1.7rem 0 !important;
}
.edd_price_options input{
    width: 15px;
    height: 15px;
}
.edd_price_options p{ 
    margin: 0 0 1rem 0;
    font-size: 90%;
    font-style: italic;
}
.edd_price_options label{
    display: flex;
    align-items: center;
}

.edd_downloads_list .edd-submit{
    @extend .btn;
    @extend .btn-default;
}

.edd_flex_wrap{
    max-height: 2.25rem;
}


@media #{$breakpoint-sm} {
    .edd_downloads_list{ 
        display: flex;
        flex-wrap: wrap;
    }
}
#edd-main-thumb img,
.edd_download_image img{ box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1); }
#edd-main-thumb .gallery-item{ padding: 0; }
#edd-main-thumb .gallery{ margin: 0;}
#edd-main-thumb .gallery-caption{ display: none; }

#edd-gallery{ 

    .edd-gallery-icon{
        position: absolute;
        top:30px;
        right: 40px;
        z-index: 999;
        opacity: 1;
        font-size: 40px;
        color: #1078ff;
    }

    /*.gallery-item {
        display: none;
    }
    .gallery-item:first-child {
        display:block;
    }*/

    margin-top: 0;

    .gallery-columns-2 .gallery-item {
        max-width: 50%;
    }

    .gallery-columns-3 .gallery-item {
        max-width: 33.33%;
    }

    .gallery-columns-4 .gallery-item {
        max-width: 25%;
    }

    .gallery-columns-5 .gallery-item {
        max-width: 20%;
    }

    .gallery-columns-6 .gallery-item {
        max-width: 16.66%;
    }

    .gallery-columns-7 .gallery-item {
        max-width: 14.28%;
    }

    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
    }

    .gallery-columns-9 .gallery-item {
        max-width: 11.11%;
    }
}
.gallery-item{ transition: opacity 0.2s ease; }
.gallery-item:hover{ opacity: 0.8; }
#edd-gallery .gallery-item{ margin-bottom: 1rem; }
#edd-gallery .gallery-item img{ box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1); }
#edd-gallery .gallery{ margin: 0; }

.edd-price del{ opacity: 0.5; }

.edd-cart{
    list-style-type: none;
    padding-left: 0;
}

.tab-pane h1{ font-size: 2.5rem; }
.tab-pane h2{ font-size: 2rem; }
.tab-pane h3{ font-size: 1.5rem;}
.tab-pane h4{ font-size: 1.2rem; }
.tab-pane h5{ font-size: 1rem;}

#edd_checkout_form_wrap input[type=text], #edd_checkout_form_wrap input[type=email], #edd_checkout_form_wrap input[type=password], #edd_checkout_form_wrap input[type=tel], #edd_checkout_form_wrap textarea{
    padding: 12px 15px;
}

#edd-purchase-button{
    @extend .btn;
    font-size: 120% !important;
    @extend .btn-big;
}

.max-width-3 #edd-purchase-button{
    width: 100%;
}

.edd-label{margin-bottom: 0; }
.edd-description{
    font-size: 90%;
    display: block;
    margin-bottom: 5px;
    font-style: italic;
}

#edd_profile_personal_fieldset, 
#edd_profile_address_fieldset, 
#edd_profile_password_fieldset, 
#edd_discount_code, 
#edd_checkout_user_info, 
#edd_register_account_fields, 
#edd_login_fields, 
#eddc_profile_paypal_fieldset, 
#edd_purchase_form #edd_cc_address, 
#edd_cc_fields, 
#edd_terms_agreement, 
#edd_simple_shipping_fields, 
#edd_simple_shipping_diff_address, 
#edd-stripe-manage-cards>fieldset, 
#edd_payment_mode_select{
    padding: 0;
    background: #fff;
    border: none;
    margin-bottom: 1.5rem;
}

#edd_checkout_wrap fieldset{ 
    margin: 1.5rem 0;
    padding: 0;
    border: none;
}

.edd-cart-added-alert svg.edd-icon{
    width: 16px;
    height: 16px;
}

#edd_final_total_wrap,
#edd_sl_renewal_fields,
#edd_discount_code{
    margin-top: 0;
    border: 1px solid #eee;
    padding: 0.5em 1.387em;
    background: #fafafa;
}

// Fix small css bug when ajax enabled
//.edd_go_to_checkout{ display: inline-flex !important; }
.edd-cart-ajax-alert{
    //display: block;
    font-size: 90%;
    padding-top: 5px;
}

.edd-table td,
.edd_sl_table td{ font-size: 90%; }

// Fix if edd style active
#edd_checkout_form_wrap input.edd-input, 
#edd_checkout_form_wrap textarea.edd-input{ width: 100%; }

// Fix style of purchase code box
#edd_discount_code .edd-input{margin-bottom: 1rem;}
#edd_show_discount{ margin: 0; }


/*
* Purchase Confirmation
*/
.edd-table,
.edd_sl_table { 
    margin-bottom: 2rem;
    border-color: #eee;
}

.edd-table th,
.edd_sl_table th,
#edd_user_history th{
    font-weight: bold;
    background-color: #fafafa;
}

.edd-table ul,
.edd_sl_table ul{ margin: 0; }

/*
* Subscription edit credit card
*/
#edd_secure_site_wrapper{
    display: flex;
    align-items: center;
}

#edd_secure_site_wrapper .padlock{
    line-height: 1;
    margin-right: 15px;
    color: green;
}

/*
* EDD sl license
*/
.edd_sl_license_key{ padding: 0 1rem !important; }

#edd_sl_license_add_site_form .edd-input{ margin-bottom: 1rem; }


.edd-sl-active {
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #2ecc71;
}

.edd_sl_item_name{ font-weight: bold; }

/*
* EDD Cart Widget
*/
.edd-cart,
.edd-cart-number-of-items{ 
    padding-left: 0;
    margin: 1rem 0;
}

/*
* Credit Card fieldset
*/
#edd_cc_fields{
    background: #fafafa;
    border: 1px solid #eee;
    padding: 1.5rem;
}

.edd-select-small{ 
    display: inline-block;
    width: auto;
    padding-right: 2rem;
}

#edd-email-wrap{
    margin-top: 0;
}

.edd_form > div{ margin-bottom: 2rem;}
.edd-gateway-option{ margin-right: 2rem; }

.edd-payment-icons{
    display: flex;
    margin: 2rem 0;
}

/*
* Checkout cart styling
*/
.edd_cart_footer_row th{
    border: none;
    text-align: right;
}

.edd_cart_actions{ text-align: right; }
.edd_cart_remove_item_btn{ color: red; }

.edd_cart_item_image{ margin-right: 1rem; }

// Add spaceing after checkout cart
#edd_checkout_cart_form{ margin-bottom: 2rem; }


/*
* Renewing a license key? box
*/
#edd_sl_show_renewal_form_wrap{
    margin-top: 0;
}

#tab-changelog li{ margin: 0; }
#tab-changelog ul{ margin: 1rem 0; }

/*
* EDD Pagination
*/
.page-numbers{
    @extend .btn;
    @extend .btn-default;
    @extend .btn-small;
}

.page-numbers.current{ opacity:0.7;}

#edd_download_pagination{ margin: 0 1.5rem; }

.edd-submit, 
input[type=submit].edd-submit{
    font-size: 16px;
    display: inline-flex;
    font-weight: 400;
    padding: 0 1.6rem;
    line-height: 1;
}

/*
* Quick EDD Subscription Upgrade Link
*/
.single-download .edd-sl-upgrade-link,
.edd_download_purchase_form .edd-sl-upgrade-link{ display: none; }

/*
* Gutenberg Support
*/
.download-template .entry-content > span > div > *,
.download-template .entry-content-full > span > div > *{
    width: calc(100% - 3rem);
    margin-left: auto;
    margin-right: auto;
}

.download-template .entry-content .alignfull  {
    width: 100vw;
    //max-width: 100%;
    margin-left:    calc(50% - 50vw);
    margin-right:   calc(50% - 50vw);
}

@media (min-width: 815px) {

    .download-template .entry-content > span > div .alignwide{
        margin-left:    calc(25% - 25vw);
        margin-right:   calc(25% - 25vw);
        width:          auto;
        max-width:      1000%;
    }
}

/**
* Fix tabs section width
*/
.download-tabs-section{ width: 100% !important; }
