@import "../../../assets/sass/common/variables";

@import "../../../assets/sass/common/typography";

@import "../../../assets/sass/basscss";
@import "../../../assets/sass/common/form";

.gutenberg-content > *{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.alignfull{
    margin-left: auto;
    margin-right: auto;
}

.gutenberg-content p,
.gutenberg-content ul,
.gutenberg-content ol,{
    margin-top: 0;
    margin-bottom: 1.5em;
}

.wp-block-image,
.wp-block-gallery,
.wp-block-video,
.wp-block-quote,
.wp-block-text-columns,
.wp-block-button,
.wp-block-cover-text,
.wp-block-pullquote,
.gutenberg-content figure,
.gutenberg-content blockquote,
.gutenberg-content pre,
.gutenberg-content table{
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}

.gutenberg-content figure{ 
    max-width: 100%;
}

.gutenberg-content *.alignfull{
  max-width: 100%;
}

.gutenberg-content .alignfull > img{
    margin-left: auto;
    margin-right: auto;
}

.wp-block-pullquote{
    border-top: none;
    border-bottom: none;
    text-align: left;
    border-left: 3px solid rgba(0,0,0,0.8);
    padding: 0 2rem;
    
}

.wp-block-button{ 
    background-color: inherit;
    display: block;
    height: auto;
    padding: 0;
}

.wp-block-button a{
    @extend .btn;
}

.wp-block-column >:first-child{ margin-top: 0; }
.wp-block-column >:last-child{ margin-bottom: 0; }

@media( max-width: 40em) {
    .wp-block-text-columns{ 
        display: block;
        
    }
    .wp-block-text-columns .wp-block-column{ 
        width: 100% !important;
        margin: 2em 0;
    }
}

@media #{$breakpoint-md} {
    .gutenberg-content p,
    .gutenberg-content p,
    .gutenberg-content h1,
    .gutenberg-content h2,
    .gutenberg-content h3,
    .gutenberg-content h4,
    .gutenberg-content h5,
    .gutenberg-content h6,
    .gutenberg-content h6,
    .gutenberg-content blockquote,
    .gutenberg-content pre,
    .gutenberg-content table,
    .gutenberg-content figure,
    .gutenberg-content .alert,
    .gutenberg-content ul,
    .gutenberg-content ol,
    .gutenberg-content hr,
    .gutenberg-content .alert_shortcode,
    .gutenberg-content .overflow-auto,
    .wp-block-image,
    .wp-block-gallery,
    .wp-block-video,
    .wp-block-video video
    .wp-block-quote,
    .wp-block-text-columns,
    .wp-block-button,
    .wp-block-cover-text,
    .wp-block-pullquote,
    .alert_shortcode{
        max-width: 768px;
    }

    .gutenberg-content > *,
    .wp-block-table{
        margin-left: auto;
        margin-right: auto;
    }

    .gutenberg-content .alignwide > img{
        margin-left: auto;
        margin-right: auto;
    }

    .wp-block-gallery.alignfull{ justify-content: center; }
}

@media #{$breakpoint-lg} {
    .gutenberg-content *.alignwide{ max-width: 900px; }
}

@media #{$breakpoint-xlg} { 
    .gutenberg-content .alignwide{ max-width: 1200px; }
}