.alert{
    padding: 1rem 2rem;
    background-color: #eee;
    border-left-width: 6px;
    border-left-style: solid;
    border-radius: 3px;
    font-family: var(--font-family-sans-serif) !important;
}

.alert_warning{ border-left-color: #f39c12; background-color: lighten(#f39c12, 30%); }
.alert_info{ border-left-color: #3498db; background-color: lighten(#3498db, 30%);  }
.alert_danger{ border-left-color: #e74c3c; background-color: lighten(#e74c3c, 30%);  }
.alert_success{ border-left-color: #2ecc71; background-color: lighten(#2ecc71, 30%);  }