@import "variables";

%btn-shared {
    font-family: $base-font-family;
    line-height: $button-height;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $button-height;
    padding: 0 1.6rem;
    border-radius: $button-border-radius;
    outline: 0;
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
    transition: 
        border-color $speed $easing, 
        color $speed $easing, 
        background-color $speed $easing, 
        padding 0.2s ease,
        box-shadow 0.5s ease,
        opacity 0.2s ease;
    cursor: pointer;
    font-size: 16px;
    -webkit-appearance: none;
}

%btn-default-bg-color { background-color: $button-background-color; }

%btn-box-shadow { box-shadow: 0 10px 20px rgba(0,0,0,0.1); }

%btn-hover {
    //color: $button-hover-text-color;
    opacity: 0.9;
    box-shadow: 0 10px 30px rgba(0,0,0,0.20);
}

%btn-outline {
    background-color: #fff;
    border: 2px solid currentColor;
    color: currentColor;
    box-shadow: none;
}

%btn-big {
    height: $button-height * 1.2;
    font-size: 110%;
    padding: 0 2rem;
}

%btn-small {
    height: $button-height * 0.8;
    padding: 0 1rem;
    font-size: 14px;
}

/* element styles */
/* ====================
   generic button mixin
   ==================== */
/* applying the mixin */
.btn{
    @extend %btn-shared;
    @extend %btn-box-shadow;
}

.btn:not(.has-background){ @extend %btn-default-bg-color; }
.btn:not(.has-textcolor-color){ color: $button-text-color; }

.btn-primary{
    @extend %btn-box-shadow;
    background-color: var(--color-primary) !important;
}

.btn-default{ @extend %btn-default-bg-color; }

.btn:hover{
    @extend %btn-hover;
}

.btn-outline{
    @extend %btn-outline;
}

.btn-big{
    @extend %btn-big;
}

.btn-small{
    @extend %btn-small;
}