ol.comment-list,
ol.children {
    list-style-type: none;
}

ol.comment-list p {
    margin: 1rem 0;
}

.comment-content p:first-child{ margin-top: 0; }
.comment-content p:last-child{ margin-bottom: 0; }



.comment-reply-link, 
.comment-edit-link,
#cancel-comment-reply-link {
    font-size: 60% !important;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    background: #e6e5e5;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 3px 5px;
    line-height: 1em;
    position: relative;
    top: -3px;
    margin-left: 3px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0.8;
}

.comment-reply-link:hover, 
.comment-edit-link:hover,
#cancel-comment-reply-link:hover {
    color: #fff;
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
    opacity: 1;
}