legend {
    display: block;
    font-size: 120%;
    line-height: 1;
    font-weight: 700;
    width: 100%;
    margin: 0 0 21px;
    padding: 0;
    float: left;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 0;
}
input[type='file'] + label:disabled,
  input[type='file'] + label:disabled:hover,
  input[type='file'] + label:disabled:focus,
  input[type='file'] + label:disabled:active,
  input[type='file'] + label:disabled:visited {
    border-color: $gray-lighter;
    color: hsl(0, 0%, 75%);
    background-color: hsl(0, 0%, 98%);
    cursor: not-allowed;
}
input[type='file'] + label:visited {
    color: $button-text-color;
}
input[type='file'] + label:active {
    border-color: transparent;
    color: $button-active-text-color;
    background-color: rgb(32, 21, 89);
}
input[type='file'] + label:focus {
    border-color: transparent;
    color: $button-focus-text-color;
    background-color: rgb(32, 21, 89);
}
textarea:disabled::-webkit-input-placeholder {
    color: $input-disabled-placeholder-color;
}
textarea:disabled:-ms-input-placeholder {
    color: $input-disabled-placeholder-color;
}
textarea:disabled::placeholder {
    color: $input-disabled-placeholder-color;
}
textarea:disabled,
  textarea:disabled:hover,
  textarea:disabled:focus {
    border-color: $input-disabled-border-color;
    color: $input-disabled-text-color;
    background-color: $input-disabled-background-color;
    cursor: not-allowed;
}
textarea:focus,
  textarea:hover:focus {
    border-color: gray;
    border-color: var(--color-primary);
    color: gray;
    color: var(--color-primary);
    background-color: $input-focus-background-color;
    &::-webkit-input-placeholder {
      color: $input-placeholder-color;
    }
    &:-ms-input-placeholder {
      color: $input-placeholder-color;
    }
    &::placeholder {
      color: $input-placeholder-color;
    }
}
textarea:hover {
    border-color: $input-hover-border-color;
    color: $input-hover-text-color;
    background-color: $input-hover-background-color;
    &::-webkit-input-placeholder {
      color: $input-placeholder-color;
    }
    &:-ms-input-placeholder {
      color: $input-placeholder-color;
    }
    &::placeholder {
      color: $input-placeholder-color;
    }
}
input[type='text']:disabled::-webkit-input-placeholder, input[type='password']:disabled::-webkit-input-placeholder, input[type='url']:disabled::-webkit-input-placeholder, input[type='email']:disabled::-webkit-input-placeholder, input[type='tel']:disabled::-webkit-input-placeholder, input[type='search']:disabled::-webkit-input-placeholder, input[type='number']:disabled::-webkit-input-placeholder, input[type='date']:disabled::-webkit-input-placeholder, input[type='month']:disabled::-webkit-input-placeholder, input[type='week']:disabled::-webkit-input-placeholder, input[type='datetime-local']:disabled::-webkit-input-placeholder, input[type='color']:disabled::-webkit-input-placeholder, select:disabled::-webkit-input-placeholder {
    color: $input-disabled-placeholder-color;
}
input[type='text']:disabled:-ms-input-placeholder, input[type='password']:disabled:-ms-input-placeholder, input[type='url']:disabled:-ms-input-placeholder, input[type='email']:disabled:-ms-input-placeholder, input[type='tel']:disabled:-ms-input-placeholder, input[type='search']:disabled:-ms-input-placeholder, input[type='number']:disabled:-ms-input-placeholder, input[type='date']:disabled:-ms-input-placeholder, input[type='month']:disabled:-ms-input-placeholder, input[type='week']:disabled:-ms-input-placeholder, input[type='datetime-local']:disabled:-ms-input-placeholder, input[type='color']:disabled:-ms-input-placeholder, select:disabled:-ms-input-placeholder {
    color: $input-disabled-placeholder-color;
}
input[type='text']:disabled::placeholder, input[type='password']:disabled::placeholder, input[type='url']:disabled::placeholder, input[type='email']:disabled::placeholder, input[type='tel']:disabled::placeholder, input[type='search']:disabled::placeholder, input[type='number']:disabled::placeholder, input[type='date']:disabled::placeholder, input[type='month']:disabled::placeholder, input[type='week']:disabled::placeholder, input[type='datetime-local']:disabled::placeholder, input[type='color']:disabled::placeholder, select:disabled::placeholder {
    color: $input-disabled-placeholder-color;
}
input[type='text']:disabled,
  input[type='text']:disabled:hover,
  input[type='text']:disabled:focus,
  input[type='password']:disabled,
  input[type='password']:disabled:hover,
  input[type='password']:disabled:focus,
  input[type='url']:disabled,
  input[type='url']:disabled:hover,
  input[type='url']:disabled:focus,
  input[type='email']:disabled,
  input[type='email']:disabled:hover,
  input[type='email']:disabled:focus,
  input[type='tel']:disabled,
  input[type='tel']:disabled:hover,
  input[type='tel']:disabled:focus,
  input[type='search']:disabled,
  input[type='search']:disabled:hover,
  input[type='search']:disabled:focus,
  input[type='number']:disabled,
  input[type='number']:disabled:hover,
  input[type='number']:disabled:focus,
  input[type='date']:disabled,
  input[type='date']:disabled:hover,
  input[type='date']:disabled:focus,
  input[type='month']:disabled,
  input[type='month']:disabled:hover,
  input[type='month']:disabled:focus,
  input[type='week']:disabled,
  input[type='week']:disabled:hover,
  input[type='week']:disabled:focus,
  input[type='datetime-local']:disabled,
  input[type='datetime-local']:disabled:hover,
  input[type='datetime-local']:disabled:focus,
  input[type='color']:disabled,
  input[type='color']:disabled:hover,
  input[type='color']:disabled:focus,
  select:disabled,
  select:disabled:hover,
  select:disabled:focus {
    border-color: $input-disabled-border-color;
    color: $input-disabled-text-color;
    background-color: $input-disabled-background-color;
    cursor: not-allowed;
}
input[type='text']:focus,
  input[type='text']:hover:focus,
  input[type='password']:focus,
  input[type='password']:hover:focus,
  input[type='url']:focus,
  input[type='url']:hover:focus,
  input[type='email']:focus,
  input[type='email']:hover:focus,
  input[type='tel']:focus,
  input[type='tel']:hover:focus,
  input[type='search']:focus,
  input[type='search']:hover:focus,
  input[type='number']:focus,
  input[type='number']:hover:focus,
  input[type='date']:focus,
  input[type='date']:hover:focus,
  input[type='month']:focus,
  input[type='month']:hover:focus,
  input[type='week']:focus,
  input[type='week']:hover:focus,
  input[type='datetime-local']:focus,
  input[type='datetime-local']:hover:focus,
  input[type='color']:focus,
  input[type='color']:hover:focus,
  select:focus,
  select:hover:focus {
    background-color: $input-focus-background-color;
    color: var(--color-primary);
    border-color: var(--color-primary);
    &::-webkit-input-placeholder {
      color: $input-placeholder-color;
    }
    &:-ms-input-placeholder {
      color: $input-placeholder-color;
    }
    &::placeholder {
      color: $input-placeholder-color;
    }
}
input[type='text']:hover, input[type='password']:hover, input[type='url']:hover, input[type='email']:hover, input[type='tel']:hover, input[type='search']:hover, input[type='number']:hover, input[type='date']:hover, input[type='month']:hover, input[type='week']:hover, input[type='datetime-local']:hover, input[type='color']:hover, select:hover {
    border-color: $input-hover-border-color;
    color: $input-hover-text-color;
    background-color: $input-hover-background-color;
    &::-webkit-input-placeholder {
      color: $input-placeholder-color;
    }
    &:-ms-input-placeholder {
      color: $input-placeholder-color;
    }
    &::placeholder {
      color: $input-placeholder-color;
    }
}
.btn:disabled,
.button:disabled,
button:disabled,
  button:disabled:hover,
  button:disabled:focus,
  button:disabled:active,
  button:disabled:visited,
  input[type='submit']:disabled,
  input[type='submit']:disabled:hover,
  input[type='submit']:disabled:focus,
  input[type='submit']:disabled:active,
  input[type='submit']:disabled:visited,
  input[type='button']:disabled,
  input[type='button']:disabled:hover,
  input[type='button']:disabled:focus,
  input[type='button']:disabled:active,
  input[type='button']:disabled:visited,
  input[type='reset']:disabled,
  input[type='reset']:disabled:hover,
  input[type='reset']:disabled:focus,
  input[type='reset']:disabled:active,
  input[type='reset']:disabled:visited,
  input[type='file'] + label:disabled,
  input[type='file'] + label:disabled:hover,
  input[type='file'] + label:disabled:focus,
  input[type='file'] + label:disabled:active,
  input[type='file'] + label:disabled:visited {
    border-color: $gray-lighter !important;
    color: hsl(0, 0%, 75%);
    background-color: hsl(0, 0%, 98%);
    cursor: not-allowed;
}
.btn:visited, .button:visited, button:visited, input[type='submit']:visited, input[type='button']:visited, input[type='reset']:visited, input[type='file'] + label:visited {
    color: $button-text-color;
}
.btn:active, .button:active, button:active, input[type='submit']:active, input[type='button']:active, input[type='reset']:active, input[type='file'] + label:active {
    color: $button-active-text-color;
}
.btn:focus, .button:focus, button:focus, input[type='submit']:focus, input[type='button']:focus, input[type='reset']:focus, input[type='file'] + label:focus {
    color: $button-focus-text-color;
}

/* Remove default styling of buttons and inputs */
button,
input,
textarea,
select {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  resize: none;
  background-color: transparent;
  background-image: none;
}
/* Remove clear and reveal buttons from inputs in IE */
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* Remove scrollbars from textarea in IE to match other browsers */
textarea {
  overflow: auto;
}
/* Remove dropdown arrow from selects in IE */
select::-ms-expand {
  display: none;
}
/* Remove default styling for spinners in various inputs */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-clear-button,
input[type=month]::-webkit-inner-spin-button,
input[type=month]::-webkit-outer-spin-button,
input[type=month]::-webkit-clear-button,
input[type=week]::-webkit-inner-spin-button,
input[type=week]::-webkit-outer-spin-button,
input[type=week]::-webkit-clear-button,
input[type=datetime-local]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-outer-spin-button,
input[type=datetime-local]::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=date]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-calendar-picker-indicator,
input[type=week]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none;
}

/* element styles */
/* ====================
   generic button mixin
   ==================== */
/* applying the mixin */
.button,
button,
input[type='submit'],
input[type='button'],
input[type='reset'],
input[type='file'] + label {
    @extend %btn-shared;
}

.button,
button,
input[type='submit'],
input[type='button'],
input[type='reset'],
input[type='file'] + label{ 
    @extend %btn-default-bg-color;
    color: $button-text-color;
}

.button:hover ,button:hover, input[type='submit']:hover, input[type='button']:hover, input[type='reset']:hover, input[type='file'] + label:hover {
    @extend %btn-hover;
    color: #fff;
}

form{ max-width: 768px; }
form p{ margin: 1rem 0; }

/* ====================
   general form styling
   ==================== */
   fieldset {
    margin: 1rem 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
  }
  fieldset legend {
      margin-bottom: 1rem;
      font-weight: 600;
  }
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  input,
  select,
  textarea {
    outline: 0;
  }
  /* ====================
     general mixin
     ==================== */
  /* ====================
     text inputs
     ==================== */
  input[type='text'],
  input[type='password'],
  input[type='url'],
  input[type='email'],
  input[type='tel'],
  input[type='search'],
  input[type='number'],
  input[type='date'],
  input[type='month'],
  input[type='week'],
  input[type='datetime-local'],
  input[type='color'],
  select {
      -webkit-appearance: none;
      -moz-appearance: none;
    border-width: $input-border-width;
    border-style: solid;
    border-color: $input-border-color;
    border-radius: $input-border-radius;
    font-weight: 400;
    color: $input-text-color;
    background-color: $input-background-color;
    transition: border-color $speed $easing, color $speed $easing, background-color $speed $easing;
    display: block;
    width: 100%;
    height: $input-height;
    padding: 0 0.75rem;
    padding: $input-padding-vertical $input-padding-horizontal;
  }
  input[type='text']::-webkit-input-placeholder, input[type='password']::-webkit-input-placeholder, input[type='url']::-webkit-input-placeholder, input[type='email']::-webkit-input-placeholder, input[type='tel']::-webkit-input-placeholder, input[type='search']::-webkit-input-placeholder, input[type='number']::-webkit-input-placeholder, input[type='date']::-webkit-input-placeholder, input[type='month']::-webkit-input-placeholder, input[type='week']::-webkit-input-placeholder, input[type='datetime-local']::-webkit-input-placeholder, input[type='color']::-webkit-input-placeholder, select::-webkit-input-placeholder {
      color: $input-placeholder-color;
  }
  input[type='text']:-ms-input-placeholder, input[type='password']:-ms-input-placeholder, input[type='url']:-ms-input-placeholder, input[type='email']:-ms-input-placeholder, input[type='tel']:-ms-input-placeholder, input[type='search']:-ms-input-placeholder, input[type='number']:-ms-input-placeholder, input[type='date']:-ms-input-placeholder, input[type='month']:-ms-input-placeholder, input[type='week']:-ms-input-placeholder, input[type='datetime-local']:-ms-input-placeholder, input[type='color']:-ms-input-placeholder, select:-ms-input-placeholder {
      color: $input-placeholder-color;
  }
  input[type='text']::placeholder, input[type='password']::placeholder, input[type='url']::placeholder, input[type='email']::placeholder, input[type='tel']::placeholder, input[type='search']::placeholder, input[type='number']::placeholder, input[type='date']::placeholder, input[type='month']::placeholder, input[type='week']::placeholder, input[type='datetime-local']::placeholder, input[type='color']::placeholder, select::placeholder {
      color: $input-placeholder-color;
  }
  /* ====================
     textareas
     ==================== */
  textarea {
    border-width: $input-border-width;
    border-style: solid;
    border-color: $input-border-color;
    border-radius: $input-border-radius;
    font-weight: 400;
    color: $input-text-color;
    background-color: $input-background-color;
    transition: border-color $speed $easing, color $speed $easing, background-color $speed $easing;
    display: block;
    width: 100%;
    height: auto;
    resize: vertical;
    padding: 0.5rem 0.75rem;
  }
  textarea::-webkit-input-placeholder {
      color: $input-placeholder-color;
  }
  textarea:-ms-input-placeholder {
      color: $input-placeholder-color;
  }
  textarea::placeholder {
      color: $input-placeholder-color;
  }
  /* ====================
     selects
     ==================== */
  select {
    background-image: $select-background-image;
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.75rem;
    cursor: pointer;
  }

  input[type="search"]{
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABSElEQVQ4T51T7VECMRTcrcB3FQgVqB1IBY4VgBWoFUgHYgVqBdoB0AEdQAd5VvCczSQ3ATl0zK/MJbdvv0I0y8wMwBTAjOSljiJiA2AF4MXdd+197Vk/mNk1gA+SAvmxIsIBPLr7W3uYAfQzyWWZuAawcPfPciYmDyTFTIzuWhAW2ltNjoh3d58dY2BmkvVaQMZVjgCE/hwRa3eXjMFlZnOST+0gAWxIXkTEbaU9hGBmI5LbiNi5+zib2HVdaJNS6g39hcWO5Hm9/x+AzLgHaCRcubsyP+WBkUwAvlJKOW55sCB5fyqBpitHTczGHMv4oKXqw7LE3bOtRWozVtNU2yxHzqveJOdliOosADVzr8q5D6c8kHYAZ+V9TASyF52ZiaZ03rRAKpnqXR7VqvRGDCeD2RfqI3fXS+xXqX4FWf2pPIeyKoi+fwMkDMJAfEVdtAAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: right 1rem center;
}


/* ====================
   file inputs
   ==================== */
input[type='file'] {
    clip: rect(0 0 0 0);
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
  }
  input[type='file'] + label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    //width: auto;
    height: $button-height;
    padding: 0 1.6rem;
    border-width: 1px;
    border-style: solid;
    border-color: $button-border-color;
    border-radius: $button-border-radius;
    outline: 0;
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
    color: $button-text-color;
    background-color: $button-background-color;
    transition: border-color $speed $easing, color $speed $easing, background-color $speed $easing;
    cursor: pointer;
  }
  input[type='file'] + label:hover {
      color: $button-hover-text-color;
      background-color: rgb(32, 21, 89);
  }
  /* ====================
     color inputs
     ==================== */
  input[type='color'] {
    width: 2.5rem;
    padding: 0;
    border: 0;
    cursor: pointer
  }
  input[type='color']::-webkit-color-swatch-wrapper {
      padding: 0;
  }

/*
* Widget search form
*/
.widget_search input[type="submit"]{
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.widget_search label{
    display: block;
}

/*
* GravityForm
*/
.gform_fields{ padding: 0; }

.validation_message{
    color: red;
}

.validation_error{
    margin-bottom: 1.5rem;
}

.gform_fields{ list-style-type: none; }