.site-header {
    min-height: 80px;
    //z-index: 998;
    //box-shadow: 0 0 10px rgba(33,33,33,0.25);
}

#site-navigation {
    max-height: 0px;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-timing-function: swing;
}

.open #site-navigation{
    max-height: 700px;
    overflow-y: scroll;
    transition: max-height 0.5s ease-in;
}

#main_nav_toggle{
    .menu-close{ display: none; }
    svg{ 
        width: 35px;
        height: 35px;
    }

    &:hover,
    &:focus{ background-color: #fff; }
}

.open #main_nav_toggle{
    .menu-close{ display: block; }
    .menu-open{ display: none; }
}

.sub-menu li:last-child{ margin-bottom: 0; }
.main-navigation li:before{ display: none; }

.sub-menu-toggle{
    width: 20px;
    height: 20px;
    position: absolute;
    top:0;
    right: 0;
    transition: transform 0.2s linear;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 0;
    margin-left: 5px;
    opacity: 0.8;
}

.sub-menu-toggle:hover,
.sub-menu-toggle:focus{
    background-color: #fff;
}

.sub-menu-toggle.menu-open{
    transform: rotate(180deg);
}

@media #{$breakpoint-lg} {
    .sub-menu-toggle{
        border: none;
        width: 12px;
        height: 12px;
        position: relative;
        top: auto;
        right: auto;
        vertical-align: middle;
    }
}


.sub-menu{
    max-height: 0px;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-timing-function: swing;
    

    &.open {
        max-height: 700px;
        overflow-y: scroll;
        transition: max-height 0.5s ease-in;
    }
}

@media #{$breakpoint-lg} {

    .site-header { box-shadow: none; }

    .site-header.active{ box-shadow: 0 0 10px rgba(33,33,33,0.25); }

    #site-navigation{ 
        max-height: 100px;
        transition-duration: 0s;
        overflow: visible !important;
    }
    

    .main-navigation .sub-menu{ 
        max-height: 700px;
        overflow: visible;

        display: block;
        position: absolute;
        top: 94%;
        left: 0;
        z-index: 1000;
        display: block;
        float: left;
        min-width: 200px;
        padding: 12px 0;
        margin: 2px 0 0;
        text-align: left;
        list-style: none;
        visibility: hidden;
        opacity: 0;
        background-color: #fff;
        border: 1px solid #dcdee0;
        background-clip: padding-box;
        border-radius: 4px;
        box-shadow: 0 10px 40px -5px rgba(37,45,51, .25);
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: translateX(0px) translateY(20px);



        li{
            display: block;
        }

        a{
            padding: 4px 24px;
            clear: both;
            line-height: 25px;
            white-space: nowrap;
            opacity: 0.8;
        }
    }

    .main-navigation li:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px) translateY(0px);
    }

    .main-navigation .sub-menu:after, 
    .main-navigation .sub-menu:before {
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .main-navigation li:last-child .sub-menu,
    .main-navigation li:nth-last-child(2) .sub-menu{ 
        left: auto;
        right: 0;

        &:after, 
        &:before {
            right: 30px;
            left: auto;
        }
    }

    .main-navigation .sub-menu:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }
    .main-navigation .sub-menu:before {
        border-color: rgba(220, 222, 224, 0);
        border-bottom-color: #dcdee0;
        border-width: 11px;
        margin-left: -11px;
    }

}