#main_nav_toggle{
    
    .menu-close{ display: none; }

    svg{ 
        width: 35px;
        height: 35px;
    }

    &:hover,
    &:focus{ 
        background-color: #fff;
        box-shadow: none; 
    }
}

.open #main_nav_toggle{
    .menu-close{ display: block; }
    .menu-open{ display: none; }
}

@media(max-width: 63.999em ){

    .open #site-navigation{
        max-height: 1000px;
        transition: max-height 0.5s ease-in;
    }

    #site-navigation{

        max-height: 0px;
        transition-duration: 0.5s;
        transition-timing-function: swing;
        

        .menu-item:not(.menu-item-has-children) a,
        .menu-item-has-children > .item{ 
            height: 45px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding: 0 1.5rem;
            border-bottom: 1px solid #eee;
        }

        .menu-item:last-child a,
        .menu-item:last-child .item{ border-bottom: none; }
    
        .menu-item-has-children > .item:after {
            content: " ";
            display: inline-block;
            width: 16px;
            height: 16px;
            background-size: 20px 20px;
            transform: rotate(-90deg);
        }
    
        .menu-item-has-children.open{ 
            background-color: rgba(0,0,0,0.03);
            border-bottom: 1px solid #fff;
        }
    
        .menu-item-has-children.open .item:after{ transform: none; }
    
        .menu-item-has-children.open .sub-menu{ display: block; }
    
        .sub-menu{
            width: 100%;
            display: none;
            list-style-type: none;
            padding-left: 0;
            max-height: 700px;
            overflow-y: scroll;
        }
    
        .sub-menu a{ padding-left: 2.5rem !important; }
    
    }
}


@media #{$breakpoint-lg} {

    #site-navigation{ 
        max-height: 100px;
        transition-duration: 0s;
        overflow: visible !important;

        .menu-item-has-children > .item a:after{
            content: " ";
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 0;
            opacity: 0.6;
            margin-left: 0.5rem;
        }

        .sub-menu{
            max-height: 700px;
            overflow: visible;
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: block;
            float: left;
            min-width: 200px;
            padding: 12px 0;
            //margin: 2px 0 0;
            text-align: left;
            list-style: none;
            visibility: hidden;
            opacity: 0;
            background-color: #fff;
            border: 1px solid #dcdee0;
            background-clip: padding-box;
            border-radius: 4px;
            box-shadow: 0 10px 40px -5px rgba(37,45,51, .25);
            transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
            transform: translateX(0px) translateY(20px); 
        }

        .sub-menu li{
            display: block;
            padding: 0.3rem 0;
            margin: 0;
        }

        .sub-menu a{
            opacity: 0.8;
            display: block;
            padding: 0 1rem;
        }

        .sub-menu:after, 
        .sub-menu:before {
            bottom: 100%;
            left: 30px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .sub-menu:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 10px;
            margin-left: -10px;
        }

        .sub-menu:before {
            border-color: rgba(220, 222, 224, 0);
            border-bottom-color: #dcdee0;
            border-width: 11px;
            margin-left: -11px;
        }

        .menu li:hover .sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translateX(0px) translateY(0px);
            
        }

        /*
        * Right Panel
        */
        .menu .right-panel .sub-menu{
            left: auto;
            right: 0;
        }

        .menu .right-panel .sub-menu:after, 
        .menu .right-panel .sub-menu:before {
            right: 30px;
            left: auto;
        }

    }
    
}