
a:active,
a:focus,
a:hover {
    color: $gray-dark;
}
blockquote p::after { content: '\201d';
}
.clearfix::after {
    clear: both;
}/* reset */
/* Set border-box box sizing so borders and padding don't affect set dimensions */
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
*::before {
  box-sizing: inherit;
}
*::after {
  box-sizing: inherit;
}
/* Reset block margins so spacing is only applied when needed */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Reset font sizes so semantic markup doesn't affect styling */


/* Remove border from iframes */
iframe {
  border: 0;
}
/* Set responsive media elements so images and embeds scale with browser width */
img,
embed,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}
/* Reset tables so tabular data only takes the space it needs */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
th {
  font-weight: normal;
}

/* ====================
   horizontal rules
   ==================== */
hr {
  display: block;
  margin: $horizontal-rule-margin-vertical 0;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  letter-spacing: .6em;
  height: 20px;
  border: none !important;
}
hr:before {
    content: '...';
    display: inline-block;
    margin-left: .6em;
    color: rgba(0,0,0,.68);
    position: relative;
    top: -30px;
    left: 50%;
    margin-left: -50px;
}
/* ====================
   media/embeds
   ==================== */
img,
audio,
video,
canvas,
meter,
progress,
iframe {
  display: block;
}
img,
audio,
video,
canvas,
iframe {
  max-width: 100%;
}
svg {
  fill: currentColor;
}
/* ====================
   headings
   ==================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: 700;
}
/* heading sizes and spacing */
.h00 { font-size: 4rem }
.h0 { font-size: 3rem }

h1,
.h1 {
  font-size: 2.7rem;
  margin-top: 2rem;
}
h2,
.h2 {
    font-size: 2.3rem;
    margin-top: 2rem;
}
h3,
.h3 {
    margin-top: 2rem;
    font-size: 2rem;
}
h4,
.h4 {
    margin-top: 2rem;
    font-size: 1.5rem;
}
h5,
.h5 {
    margin-top: 2rem;
    font-size: 1.2rem;
}
h6,
.h6 {
    margin-top: 2rem;
    font-size: 1rem;
}
/* ====================
   additional type styles
   ==================== */
/* small font size */
small {
  font-size: 0.875rem;
}
/* additional font weights */
strong,
b {
  font-weight: 700;
}
/* block spacing */
p,
dl,
ol,
ul,
blockquote,
figcaption,
pre {
  margin: 1.5rem 0;
}
/* definition list styling */
dt {
  font-weight: 600;
}
/* abbreviation */
abbr[title] {
  border-bottom: dotted 1px currentColor;
  text-decoration: none;
}
/* blockquote */
blockquote p {
}
blockquote p::before { content: '\201c';
}
/* address */
address {
  font-style: normal;
}
/* ====================
   code styles
   ==================== */
/* inline code snippets */
code,
kbd,
samp {
  padding: 0.25rem 0.5rem;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace, monospace;
  font-size: 0.875rem;
  font-weight: 400;
  color: $text-color;
  background-color: $input-border-color;
}
/* block code snippets */
pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace, monospace;
  font-size: 90%;
  font-weight: 400;
  border-radius: 3px;
}
code {
    background-color: #f7f7f7;
}
pre code{
    background-color: transparent;
    color: #e6e6e6;
}
/* ====================
   applied colors
   ==================== */
html {
  background-color: white;
}
body {
  color: $text-color;
  background-color: white;
}
a {
  text-decoration: none;
  transition: color $speed $easing, border-color $speed $easing;
  cursor: pointer
}


/* table styling */
table {
  width: 100%;
}
table caption {
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 600;
}
th,
td {
  padding: 0.5rem 0.75rem;
  border: 1px solid $gray-lighter;
  text-align: left;
  vertical-align: top;
}
th {
  font-weight: 600;
}

/* ====================
   speed up touch delay
   ==================== */
a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

ul li,
ol li{ 
    margin: 0.4em 0;
    font-weight: 500;
}

ul,
ol{
    padding-left: 2rem;
}

ul ul,
ol ol,
ul ol,
ol ul{
    margin: 0;
}

ul li strong,
ol li strong{ font-weight: 900; }

pre{
    background-color: $black;
    border-radius: 3px;
    color: #fff;
    padding: 2rem;
    overflow-x: auto;
}

blockquote {
    border-left: 3px solid rgba(0,0,0,0.8);
    padding: 0 2rem;
    font-style: italic;
    position: relative;
    left: -1.4rem;

    p{ margin-top: 0; font-style: italic;}
    footer{ line-height: 1.2;}
}

.pull-right, .pull-left, .pull-excerpt {
    font-size: 110%;
    line-height: 1.5;
    background: #eef0f4;
}

del{ opacity: 0.5; }

@media #{$breakpoint-lg} {
    .pull-right, .pull-left, .pull-excerpt { padding: 2rem; }

    .pull-right {
        float: right;
        margin: 0 0 2% 5%;
        text-align: left;
        width: 32%;
    }

    .pull-left {
        float: left;
        margin: 0 5% 2% 0;
        text-align: left;
        width: 32%;
    }

    blockquote { left: -2rem; }
}

.message{
    padding: $space1 $space2;
    font-size: 16px;
    //background-color: $black;
    border-left-width: 3px;
    border-left-style: solid;
}

.message.orange{ border-left-color: #f39c12; }
.message.default{ border-left-color: $blue; color: $blue; }
.message.red{ border-left-color: #e74c3c; }
.message.green{ border-left-color: #2ecc71; }

figcaption{
    font-size: 14px;
    font-style: italic;
    text-align: center;
}


@media #{$breakpoint-sm} {}

