$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;

$space1: 0.5rem !default;
$space2: 1.5rem !default;
$space3: 3rem !default;
$space4: 6rem !default;

$text-color: #3A4145;

$blue: #1078ff;
//$black: #232528;
$black: rgba(0,0,0,.8);

$bold: 700;