$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;

$space1: 0.5rem !default;
$space2: 1.5rem !default;
$space3: 3rem !default;
$space4: 4rem !default;

$text-color: #3A4145;

$blue: #1078ff;
//$black: #232528;
$black: var(--text-color);

$bold: 700;

:root {
	--max-container-width: 62rem;
	--container-horizontal-padding: 2rem;
    /*
    --block-element-margin-vertical: 1.5rem;
	--block-semantic-element-margin-vertical: 1.5rem;
	--heading-margin-bottom: .5rem;
    --border-radius: 3px;
    */
	//--font-family-sans-serif: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
	--font-family-serif: Georgia,'Times New Roman',Times,serif;
	--font-family-monospace: Menlo,Monaco,Consolas,'Courier New',monospace;
	--base-font-family: var(--font-family-sans-serif);
	//--unitless-min-font-size: 16;
	//--unitless-max-font-size: 19;
    /*
    --unitless-lower-font-range: 460;
	--unitless-upper-font-range: 1200;
	--base-line-height: 1.8;
	--heading-line-height: 1.2;
	--font-size-1: 3rem;
	--font-size-2: 2.5rem;
	--font-size-3: 2rem;
	--font-size-4: 1.5rem;
	--font-size-5: 1.2rem;
	--font-size-6: 1rem;
	--font-size-base: var(--font-size-5);
	--font-size-large: var(--font-size-4);
	--font-size-small: 0.9rem;
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-base: var(--font-weight-normal);
	--heading-font-weight: var(--font-weight-bold);
	--strong-font-weight: var(--font-weight-bold);
    --bold-font-weight: var(--font-weight-semibold);
    */
    //--letter-spacing-base: -0.025em;
	--definition-list-title-font-weight: var(--font-weight-semibold);
	--input-font-weight: var(--font-weight-normal);
	--list-margin-left: 1rem;
	--unordered-list-style: disc;
	--gray-darkest: #0d0d0d;
	--gray-darker: #1a1a1a;
	--gray-dark: #404040;
	--gray: gray;
	--gray-light: #bfbfbf;
	--gray-lighter: #e6e6e6;
	--gray-lightest: #fafafa;
	//--color-primary: #1078ff;
	--color-success: #2ecc71;
	--color-warning: #ffca28;
	--color-error: #e74c3c;
	//--text-color: var(--gray-darker);
	--html-background-color: #fff;
	--body-background-color: #fff;
	--background-color: var(--gray-lightest);
	--border-color: var(--gray-lighter);
	--mark-color: #cfcaec;
	--selection-color: #c8e1f1;
	--deleted-color: var(--color-error);
	--inserted-color: #cfcaec;
	--disabled-color: var(--gray-light);
	--speed: 0.2s;
	--easing: ease;
	--link-color: var(--color-primary);
	//--link-hover-color: #201559;
	//--link-focus-color: #201559;
	//--link-active-color: #201559;
	--link-text-decoration: none;
	--button-height: 2.25rem;
	--button-vertical-padding: 0;
	//--button-horizontal-padding: 1.6rem;
	--button-border-width: 1px;
	--button-border-radius: var(--border-radius);
	--button-font-weight: var(--font-weight-medium);
	--button-border-color: var(--gray-darker);
	--button-text-color: #fff;
	--button-background-color: var(--gray-darker);
	--button-hover-border-color: var(--color-primary);
	--button-hover-text-color: #fff;
	--button-hover-background-color: var(--color-primary);
	--button-focus-border-color: var(--color-primary);
	--button-focus-text-color: #fff;
	--button-focus-background-color: var(--color-primary);
	--button-active-border-color: var(--color-primary);
	--button-active-text-color: #fff;
	--button-active-background-color: var(--color-primary);
	--button-disabled-border-color: var(--color-primary);
	--button-disabled-text-color: var(--disabled-color);
	--button-disabled-background-color: var(--gray-lightest);
	--table-width: 100%;
	--table-caption-margin-bottom: 1rem;
	--table-caption-font-weight: var(--font-weight-semibold);
	--table-cell-padding-vertical: 0.5rem;
	--table-cell-padding-horizontal: 0.75rem;
	--table-cell-border-width: 1px;
	--table-cell-border-color: var(--border-color);
	--table-heading-font-weight: var(--font-weight-semibold);
	--fieldset-margin-vertical: 1rem;
	--fieldset-padding-vertical: 0;
	--fieldset-padding-horizontal: 0;
	--fieldset-border-width: 0;
	--fieldset-border-color: transparent;
	--legend-margin-bottom: 1rem;
	--legend-font-weight: var(--font-weight-bold);
	--label-margin-bottom: 0.5rem;
	--label-font-weight: var(--font-weight-semibold);
	--input-display: block;
	--input-width: 100%;
	--input-height: 2.5rem;
	--input-padding-vertical: 0;
	--input-padding-horizontal: 0.75rem;
	--input-border-width: 1px;
	--input-border-radius: var(--border-radius);
	--input-border-color: var(--gray-lighter);
	--input-text-color: var(--text-color);
	--input-placeholder-color: var(--gray);
	--input-background-color: var(--gray-lighter);
	--input-hover-border-color: var(--input-border-color);
	--input-hover-text-color: var(--input-text-color);
	--input-hover-placeholder-color: var(--input-placeholder-color);
	--input-hover-background-color: var(--input-background-color);
	--input-focus-border-color: var(--color-primary);
	--input-focus-text-color: var(--color-primary);
	--input-focus-placeholder-color: var(--input-placeholder-color);
	--input-focus-background-color: var(--input-background-color);
	--input-disabled-border-color: var(--gray-lightest);
	--input-disabled-text-color: var(--gray-light);
	--input-disabled-placeholder-color: var(--gray-light);
	--input-disabled-background-color: var(--gray-lightest);
	--textarea-display: block;
	--textarea-width: 100%;
	--textarea-height: auto;
	--textarea-padding-vertical: 0.5rem;
	--textarea-padding-horizontal: 0.75rem;
	--select-background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg width="30" height="16" viewBox="0 0 30 16" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M15 16L0 0h30z" fill-rule="evenodd"/%3E%3C/svg%3E');
	--select-background-position: right 1rem center;
	--select-background-size: 0.75rem;
	--color-input-width: 2.5rem;
	--color-border-radius: 0;
	--horizontal-rule-height: 1px;
	--horizontal-rule-margin-vertical: 1rem;
	--horizontal-rule-color: var(--color-primary);
	//--media-width: auto;
	--media-margin-vertical: 1rem;
	--code-font-size: var(--font-size-small);
	--code-text-color: var(--color-primary);
	--code-background-color: #f2f0f9;
	--inline-code-padding-vertical: 0.25rem;
	--inline-code-padding-horizontal: 0.5rem;
	--block-code-padding-vertical: 1rem;
	--block-code-padding-horizontal: 1rem;
	--block-code-border-radius: var(--border-radius);
	//--font-size-difference: calc(var(--unitless-max-font-size) - var(--unitless-min-font-size));
	//--font-range-difference: calc(var(--unitless-upper-font-range) - var(--unitless-lower-font-range));
	//--viewport-difference: calc(100vw - (var(--unitless-lower-font-range) * 1px));
}




