$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;
$breakpoint-xlg: '(min-width: 72em)' !default;

$space1: 0.5rem !default;
$space2: 1.5rem !default;
$space3: 3rem !default;
$space4: 4rem !default;

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$text-color: #3A4145;
$blue: #1078ff;
$gray-darkest: #0d0d0d;
$gray-darker: #1a1a1a;
$gray-dark: #404040;
$gray: gray;
$gray-light: #bfbfbf;
$gray-lighter: #e6e6e6;
$gray-lightest: #fafafa;
$color-success: #2ecc71;
$color-warning: #ffca28;
$color-error: #e74c3c;
$black: $text-color;
$bold: 700;

$speed: 0.2s;
$easing: ease;
$button-height: 2.25rem;
$button-border-radius: 3px;
$button-border-color: $gray-darker;

$button-text-color: #fff;
$button-background-color: $gray-darker;
$button-hover-text-color: #fff;
$button-focus-text-color: #fff;
$button-active-text-color: #fff;

$input-height: 2.5rem;
$input-padding-vertical: 0;
$input-padding-horizontal: 0.75rem;
$input-border-width: 1px;
$input-border-radius: 3px;
$input-border-color: $gray-lighter;
$input-text-color: $text-color;
$input-placeholder-color: $gray;
$input-background-color: $gray-lighter;
$input-hover-border-color: $input-border-color;
$input-hover-text-color: $input-text-color;
$input-hover-background-color: $input-background-color;
$input-focus-background-color: $input-background-color;
$input-disabled-border-color: $gray-lightest;
$input-disabled-text-color: $gray-light;
$input-disabled-placeholder-color: $gray-light;
$input-disabled-background-color: $gray-lightest;
$select-background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg width="30" height="16" viewBox="0 0 30 16" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M15 16L0 0h30z" fill-rule="evenodd"/%3E%3C/svg%3E');

$horizontal-rule-height: 1px;
$horizontal-rule-margin-vertical: 1rem;
$horizontal-rule-color: orange;