.widgettitle{ font-weight: 500; }

.calendar_wrap table{ width: 100%; }

.widgets{ font-size: 0.9rem; }
.widgets p:last-child{ margin-bottom: 0; }
.textwidget p{ margin: 1rem 0;}
.widgets ul{
    padding-left: 1.5em;

    ul{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        ul{
            padding-left: 0;
        }
    }

    li{
        margin-bottom: 0;
    }
}

.widgets li a{
    font-size: 16px;
    font-weight: $bold;
    border: none;
    color: $black;

    &:hover,
    &:focus{
        color: $blue;
    }
}

.widgets .gallery-item{
    margin: 0;
}

.widgets .avatar{ border-radius: 50%; }

/*
* TTFB Toolkit Social Widget
*/
.social-network{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #3a3a3a;
    height: 35px;
    width: 35px;
    color: #3a3a3a;
    border-radius: 50%;
    margin: 0 0.5rem 0.5rem 0;
    line-height: 1;
    font-size: 16px;
}

/*
* TTFB Toolkit Address Widget
*/
.ttfb_toolkit_address_widget .icon{ width: 35px }