.entry-content > *{
    width: calc(100% - 3rem);
    margin-left: auto;
    margin-right: auto;
}

/*
* Fix width on list pages
*/
.blog .entry-content > *,
.archive .entry-content > *,
.search .entry-content > *{
    width: initial;
}

.entry-content .alignfull {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100vw;
    margin-left:    calc(50% - 50vw);
    margin-right:   calc(50% - 50vw);
}

.alignwide {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*
* Center small image 
*/
.wp-block-image.alignfull img,
.wp-block-image.alignwide img,
.wp-block-image.aligncenter img, // Fix img alignment
.wp-block-gallery.alignfull img, // Fix img alignment
.wp-block-gallery.alignwide img{ // Fix img alignment
    margin-left: auto;
    margin-right: auto;
}

/*
* Fix separator block alignment
*/
.wp-block-separator{ max-width: 100%;}


/*
* Fix wide blocks on archives
*/
.blog .alignfull,
.blog .alignwide,
.archive .alignfull,
.archive .alignwide,
.search .alignfull,
.search .alignwide{
    max-width: 100%;
}

@media #{$breakpoint-lg} {

    .entry-content > *{
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .entry-content .alignwide {
        margin-left:    calc(25% - 25vw);
        margin-right:   calc(25% - 25vw);
        width:          auto;
        max-width:      1000%;
    }

    /*
    * Gallery alignment
    */
    .wp-block-gallery{
        margin-left: -8px;
        margin-right: -8px;
    }
}

/*
* text Columns
*/
@media( max-width: 40em) {
    .wp-block-text-columns{ 
        display: block;
        
    }
    .wp-block-text-columns .wp-block-column{ 
        width: 100% !important;
        margin: 2em 0;
    }
}

/*
* wp-block-columns
*/
.wp-block-columns{ display: block; }

@media #{$breakpoint-md} {
    .wp-block-columns{
        display: grid;
        grid-gap: 0 1.5rem;
        grid-row-gap: 1.5rem;
    }

    .wp-block-columns *{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.first-mt0 > :first-child{ margin-top: 0 !important; }
.last-mb0 > :first-child{ margin-top: 0 !important; }
