.entry-content p,
.entry-content ul,
.entry-content ol,{
    margin-top: 0;
    margin-bottom: 1.5em;
}

.entry-content .wp-block-image,
.entry-content .wp-block-gallery,
.entry-content .wp-block-video,
.entry-content .wp-block-quote,
.entry-content .wp-block-text-columns,
.entry-content .wp-block-button,
.entry-content .wp-block-cover-text,
.entry-content .wp-block-pullquote,
.entry-content figure,
.entry-content blockquote,
.entry-content pre,
.entry-content table{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.entry-content figure{ margin-left: auto; margin-right: auto;}



.entry-content *.alignfull{
  max-width: 100%;
}

.entry-content .alignfull > img{
    margin-left: auto;
    margin-right: auto;
}

.wp-block-pullquote{
    border-top: none;
    border-bottom: none;
    text-align: left;
    border-left: 3px solid rgba(0,0,0,0.8);
    padding: 0 2rem;
    
}

.wp-block-button{ 
    background-color: inherit;
    display: block;
    height: auto;
    padding: 0;
}

.wp-block-button a{
    @extend .btn;
    //@extend .btn-big;
    //@extend .btn-black;
}

.wp-block-button a:hover{
    //@extend .btn-black:hover;
}

.wp-block-column >:first-child{ margin-top: 0; }
.wp-block-column >:last-child{ margin-bottom: 0; }


@media( max-width: 40em) {
    .entry-content .wp-block-text-columns{ 
        display: block;
        
    }
    .entry-content .wp-block-text-columns .wp-block-column{ 
        width: 100%;
        margin: 2em 0;
    }
}

@media #{$breakpoint-lg} {
    .entry-content p,
    .entry-content h1,
    .entry-content h2,
    .entry-content h3,
    .entry-content h4,
    .entry-content h5,
    .entry-content h6,
    .entry-content h6,
    .entry-content blockquote,
    .entry-content pre,
    .entry-content table,
    .entry-content figure,
    .entry-content .alert,
    .entry-content ul,
    .entry-content ol,
    .entry-content hr,
    .entry-content .wp-block-image,
    .entry-content .wp-block-gallery,
    .entry-content .wp-block-video,
    .entry-content .wp-block-quote,
    .entry-content .wp-block-text-columns,
    .entry-content .wp-block-button,
    .entry-content .wp-block-cover-text,
    .entry-content .wp-block-pullquote{
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
    }

    .entry-content .wp-block-video video {
        max-width: 768px;
    }

    .entry-content *.alignwide{
        max-width: 1200px;
    }

    .entry-content .alignwide > img{
        margin-left: auto;
        margin-right: auto;
    }
}